.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0px;
    border-bottom: 1px solid var(--gray2);
    user-select: none;
}

.app-name,
.app-action {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.app-name {
    margin-left: 15px;
}

.app-name-logo {
    width: 36px;
    transform: translate(0px, 0.5px);
    margin-right: 3px;
}

.app-name-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.app-action {
    margin-right: 15px;
}

.app-action:hover {
    cursor: pointer;
}

.app-action svg {
    --_size: 25px;
    fill: var(--gray0);
    height: var(--_size);
    width: var(--_size);
}

@media (prefers-color-scheme: light) {
    .header {
        border-bottom: 1px solid var(--gray3);
    }
    .app-action svg {
        fill: var(--gray5);
    }
}