:root {
  --border-radius: 5px;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #039dc4;
  --purple: #b50bee;
  --yellow: #fff565;
  --s-gray0: #fbffd4;
  --s-gray1: #f7f8d0;
  --s-gray2: #b6f880;
  --s-gray3: #5ec72d;
  --s-gray4: #3ea565;
  --s-gray5: #005368;
  --s-gray6: #003d4c;

  color-scheme: light dark;
  color: var(--gray0);
  background-color: var(--gray5);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gray5);
    background-color: var(--gray0);
  }
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

a {
  color: currentColor;
  text-decoration: none;
}